body{
	background-image: url(../images/tapete.jpg);
	background-size: 100%;
}
.carta{
	height:  300px;
	width:  200px;
	background: white;
	border-radius: 10px;
	border-style: solid;

}
.numero{
	font-size: 25px;
}
.simbolo
{
	font-size: 25px;
}
.palo
{
	font-size: 35px;
}
/*-----------------2treboles---------------------*/
#dos_treboles
{
	position:  absolute;
	left:  140px;
	top:  90px;
	z-index: 1;
	transform: rotate(-30deg);
}
#numeracion2treboles_invertido{
	transform:  rotate(180deg);
	position:  absolute;
	bottom:  0px;
	right:  0px;
}
#dos_treboles>#palo1
{
	position:  absolute;
	top:  80px;
	left:  50px;
}
#dos_treboles>#palo2
{
	position:  absolute;
	top:  80px;
	left:  120px;
}
/*-------------------3picas----------------------*/
#tres_picas
{	
	position:  absolute;
	left:  260px;
	top:  50px;
	z-index: 2;
	transform: rotate(-15deg);
}
#numeracion3picas_invertido{
	transform:  rotate(180deg);
	position:  absolute;
	bottom:  0px;
	right:  0px;
}
#tres_picas>#palo1
{
	position:  absolute;
	top:  80px;
	left:  50px;
}
#tres_picas>#palo2
{
	position:  absolute;
	top:  160px;
	left:  120px;
}
#tres_picas>#palo3
{
	position:  absolute;
	top:  120px;
	left:  85px;
}
/*-----------------4treboles---------------------*/
#cuatro_treboles
{
	position:  absolute;
	left:  400px;
	top:  35px;
	z-index: 3;
}
#numeracion4treboles_invertido{
	transform:  rotate(180deg);
	position:  absolute;
	bottom:  0px;
	right:  0px;
}
#cuatro_treboles>#palo1
{
	position:  absolute;
	top:  80px;
	left:  50px;
}
#cuatro_treboles>#palo2
{
	position:  absolute;
	top:  80px;
	left:  120px;
}
#cuatro_treboles>#palo3
{
	position:  absolute;
	top:  160px;
	left:  50px;
}
#cuatro_treboles>#palo4
{
	position:  absolute;
	top:  160px;
	left:  120px;
}
/*-------------------5corazones----------------------------*/
#cinco_corazones
{	
	color: red;
	position: absolute;
	left:  660px;
	top:  120px;
	z-index: 5;
	transform: rotate(30deg);
}
#numeracion5corazones_invertido{
	transform:  rotate(180deg);
	position:  absolute;
	bottom:  0px;
	right:  0px;
}
#cinco_corazones>#palo1
{
	position:  absolute;
	top:  80px;
	left:  50px;
}
#cinco_corazones>#palo2
{
	position:  absolute;
	top:  80px;
	left:  120px;
}
#cinco_corazones>#palo3
{
	position:  absolute;
	top:  120px;
	left:  85px;
}
#cinco_corazones>#palo4
{
	position:  absolute;
	top:  160px;
	left:  50px;
}
#cinco_corazones>#palo5
{
	position:  absolute;
	top:  160px;
	left:  120px;
}



/*-----------------7treboles---------------------*/
#siete_treboles
{
	position:  absolute;
	left:  535px;
	top:  60px;
	z-index: 4;
	transform: rotate(15deg);
}
#numeracion7treboles_invertido{
	transform:  rotate(180deg);
	position:  absolute;
	bottom:  0px;
	right:  0px;
}
#siete_treboles>#palo1
{
	position:  absolute;
	top:  60px;
	left:  50px;
}
#siete_treboles>#palo2
{
	position:  absolute;
	top:  60px;
	left:  120px;
}
#siete_treboles>#palo3
{
	position:  absolute;
	top:  120px;
	left:  50px;
}
#siete_treboles>#palo4
{
	position:  absolute;
	top:  120px;
	left:  120px;
}
#siete_treboles>#palo5
{
	position:  absolute;
	top:  90px;
	left:  85px;
}
#siete_treboles>#palo6
{
	position:  absolute;
	top:  180px;
	left:  120px;
}
#siete_treboles>#palo7
{
	position:  absolute;
	top:  180px;
	left:  50px;
}